html, body{
  height:100%;
  text-align: center;
}

.container{
    position: relative;
    margin: auto;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.center{
    position: absolute;
    display: block;
    margin: auto;
    height: 50%;
    width: 100%;
    top:200px;
}
.heading h1{
    margin-bottom: 30px; 
}

.wrap{
  display:flex;
  align-items:center;
  justify-content:center;
  margin: auto;
  padding: 0 0 10px 0;
}
.control {
    font-size: 1rem;
    text-align: left;
    margin-right: 20px;
}
.input.is-primary{
  width:275px;
  margin-left:20px;
}
.icon{
  margin: 0 10px;
}
.tabs.is-right ul{
  border-bottom-color: #dbdbdb;
    border-bottom-style: none;
    border-bottom-width: 1px;
}
