h1.title{
    text-transform: capitalize;
    font-size: 2.5rem;
    color:#20B2AA;
    margin-bottom: 30px;
    text-align: center;
}

.vertical-center{
    position: absolute;
    height: 500px;
}

.vertical{
    position: relative;
    top:50%;
}
.input.is-primary{
  width:275px;
  margin-left:20px;
}
